@import url("https://use.typekit.net/und2nfh.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgb(var(--background-end-rgb)))) rgb(var(--background-start-rgb));
    background: -o-linear-gradient(top, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-hack-regular {
    font-family: 'hack', monospace, sans-serif !important;
}

.font-color-cerulean {
    color: color(srgb 0.3262 0.7865 1);
}

.text-trans-initial {
    text-transform: initial !important;
}

.font-bdr-mono {
    font-family: bdr-mono, sans-serif;
}

.font-transducer-hairline {
    font-family: "transducer", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-transducer-bold {
    font-family: "transducer", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-transducer-black {
    font-family: "transducer-extended", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.nav-hover-effect:hover svg:nth-of-type(1) {
    display: none;
}

.nav-hover-effect:hover svg:nth-of-type(2) {
    display: block;
}